.item {
  width: 240px;
  transition: 0.6s ease;
  &:hover {
    transform: scale(1.05);
  }
  img {
    width: 100%;
  }
  p {
    margin: 6px 0;
  }
  .itemPrices {
    display: flex;
    gap: 20px;
    .itemPriceNew {
      color: #374151;
      font-size: 18px;
      font-weight: 600;
    }
    .itemPriceOld {
      color: #8c8c8c;
      font-size: 18px;
      font-weight: 500;
      text-decoration: line-through;
    }
  }
}

@media (max-width: 1280px) {
  .item {
    width: 220px;
    font-size: 14px;
    .itemPrices {
      .itemPriceOld {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .item {
    width: 170px;
    font-size: 13px;
    .itemPrices {
      .itemPriceOld {
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 800px) {
  .item {
    width: 120px;
    font-size: 12px;
    .itemPrices {
      .itemPriceOld {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 500px) {
  .item {
    width: 160px;
  }
}
